<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <title>Document</title>
</head>

<body class="container-md bg-dark text-white">
    <header class="d-flex justify-content-between">
        <h1 class="">PIZZA PETE'S</h1>
        <h3 class="d-flex text-center"></h3>
        <nav class="d-flex align-items-center">
            <a href="/home" class="border p-1 text-decoration-none bg-white">HOME</a>
            <a href=""
                class="border border-black p-1 text-white bg-info text-decoration-none border-black">ORDER(<span>{{order_count}}</span>)</a>
            <a href="/account" class="border p-1 text-decoration-none bg-white">ACCOUNT</a>
            <a href="/logout" class="border p-1 text-decoration-none bg-white">LOGOUT</a>
        </nav>
    </header>
    <hr>
    <container>
        <h2>YOUR ORDER</h2>
        <section>
            <div class="border p-4 rounded">
                {% if all_ordered_pizzas %}
                <h3>Ordered Pizzas:</h3>
                <ul class="">
                    {% for pizza in all_ordered_pizzas %}
                    <li class="list-unstyled border p-4 rounded mt-4">
                        <strong>Method:</strong> {{ pizza.method.capitalize() }}<br>
                        <strong>Size:</strong> {{ pizza.size.capitalize() }}<br>
                        <strong>Crust:</strong> {{ pizza.crust.capitalize() }}<br>
                        <strong>Quantity:</strong> {{ pizza.qty }} pies<br>
                        <strong>Toppings: </strong>
                        {% if pizza.cheese == 'on' %}
                        | Cheese
                        {% endif %}
                        {% if pizza.pepperoni == 'on' %}
                        | Pepperoni
                        {% endif %}
                        {% if pizza.mushroom == 'on' %}
                        | Mushroom
                        {% endif %}
                        {% if pizza.sausage == 'on' %}
                        | Sausage
                        {% endif %}
                        {% if pizza.onion == 'on' %}
                        | Onion
                        {% endif %}
                        <br>
                        <strong>Price:</strong> ${{ pizza.price }} <br>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="align-self-center fs-4">No pizzas ordered yet. <a href="/order">Click here to start!</a></p>
                {% endif %}
                <div>
                    <strong class="fs-3 text-info text-decoration-underline d-flex justify-content-end mx-3">Total: ${{total_price}}</strong>
                    <div class="d-flex justify-content-end gap-3 mt-3">
                        <a class="btn px-3 bg-success text-light" href="/purchasecomplete">Purchase</a>
                        <a class="btn px-3 bg-danger text-light" href="/startover">Start Over</a>
                    </div>
                </div>
            </div>
        </section>
    </container>
</body>

</html>